<footer>
  <div class="dark-area">
    <div class="text">
      <div class="icon">
        <img src="assets/image/logo-white.svg" alt="">
      </div>
      <span>
        訂閱你我的甜蜜郵件
      </span>
    </div>
    <div class="mail-box">
      <div class="icon">
        <img src="assets/image/baseline-email.svg" alt="">
      </div>
      <input type="text">
      <div class="arrow">
        <img src="assets/image/baseline-arrow-forward.svg" alt="">
      </div>
    </div>
  </div>
  <div class="light-area">
    <div>
      <div class="contact">
        <div class="logo">
          <img src="assets/image/logotype-lg-dark.svg" >
        </div>
        <div class="info">
          <p>07-1234-5678</p>
          <p>sweetaste@email.com</p>
          <p>800 高雄新興區幸福路 520 號</p>
        </div>
      </div>
      <div class="slogan">
        <p>
          <span class="horizontal-line">今天是個</span>
        </p>
        <p>吃甜點的好日子</p>
      </div>
    </div>
    <div>
      <div class="social-media">
        <img src="assets/image/ic-line@.svg">
        <img src="assets/image/ic-facebook.svg">
      </div>
      <div class="copy-right">
        © 2018 Sweetaste* All Rights Reserved
      </div>
    </div>
  </div>
</footer>
