$primary-green: #3F5D45;
$primary-yellow: #FFE180;

%center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin bg-img($url) {
  background-image: url($url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin bg-blur($range) {
  -webkit-filter: blur($range);
  -moz-filter: blur($range);
  -o-filter: blur($range);
  -ms-filter: blur($range);
  filter: blur($range);
}

/** 共用區域開始 **/

* {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

/** 共用區域結束 **/

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;

  & + div {
    margin-top: 65px;
  }

}

.menu-icon:after {
  content: "";
  display: inline-block;
  margin-right: 10px;
  height: 2px;
  width: 20px;
  background: $primary-green;
  box-shadow: 0px -5px 0px 0px $primary-green, 0px -10px 0px 0px $primary-green;
}

.logo {
  flex: 0 0 115px;

  .web-img {
    display: none;
  }

}

.feature {
  display: none;
  justify-content: flex-end;
  flex: 1;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    float: left;

    a {
      display: inline-block;
      padding: 0 25px;
      font-weight: bold;
      line-height: 40px;
      color: $primary-green;
      text-decoration: none;
    }

  }

}

.outer-space {
  display: flex;
}

.banner {
  @include bg-img('../assets/image/annie-spratt-unsplash.jpg');
  flex: 1;
  padding: 140px 0;
}

.activity {
  position: relative;
  flex: 1;

  .bg {
    padding: 90px 0;
    @include bg-blur(2px);
  }

  .blur-content {
    writing-mode: vertical-lr;
    background-color: $primary-green;
    font-size: 20px;
    font-weight: lighter;
    color: #ffffff;
    opacity: 0.8;
    @extend %center;

    &:hover {
      background-color: $primary-yellow;
      color: $primary-green;
      font-weight: bold;
    }

  }

  &:nth-child(1) .bg {
    @include bg-img('../assets/image/brooke-lark.jpg');
  }

  &:nth-child(2) .bg {
    @include bg-img('../assets/image/whitney-wright.jpg');
  }

  &:nth-child(3) .bg {
    @include bg-img('../assets/image/food-photographer.jpg');
  }

}

@media screen and (min-width: 1024px) {

  .outer-space {
    padding: 0 40px;

    &.lg-space {
      padding: 0 120px;
    }

  }

  header {
    padding: 30px 40px;

    & + div {
      margin-top: 100px;
    }

  }

  .menu-icon {
    display: none;
  }

  .logo {
    flex: 0 0 210px;

    .web-img {
      display: block;
    }

    .mobile-img {
      display: none;
    }

  }

  .feature {
    display: flex;
  }

  .cart {
    margin-left: 60px;
  }

  .activity {
    transform: translateY(-50px);

    .bg {
      padding: 130px 0;
    }

  }

}
