<header>
  <div class="menu-icon"></div>
  <div class="logo">
    <img class="mobile-img" src="../assets/image/logotype-lg-dark.svg">
    <img class="web-img" src="../assets/image/logo-all-dark.svg">
  </div>
  <div class="feature">
    <ul class="clearfix">
      <li>
        <a href="javascript:;">
          首頁
        </a>
      </li>
      <li>
        <a href="javascript:;">
          甜點
        </a>
      </li>
      <li>
        <a href="javascript:;">
          登入
        </a>
      </li>
    </ul>
  </div>
  <div class="cart">
    <img src="../assets/image/shopping-cart.svg">
  </div>
</header>
<div class="outer-space">
  <div class="banner"></div>
</div>

