/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.horizontal-line:after {
  content: '-------';
  letter-spacing: -3px;
}

@media screen and (min-width: 1024px) {

  .horizontal-line {
    display: block;
    transform: translateY(-20px);

    &:after {
      letter-spacing: -6px;
    }

  }

}
