$primary-green: #3F5D45;
$primary-yellow: #FFE180;
$light-green: #8DA291;
$lighter-green: #EAF0ED;

%center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin bg-img($url) {
  background-image: url($url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin bg-blur($range) {
  -webkit-filter: blur($range);
  -moz-filter: blur($range);
  -o-filter: blur($range);
  -ms-filter: blur($range);
  filter: blur($range);
}

.banner {
  @include bg-img('../../assets/image/annie-spratt-unsplash.jpg');
  flex: 1;
  padding: 140px 0;
}

.outer-space {
  display: flex;

  &:first-child {
    margin-top: 65px;
  }

}

.activity {
  position: relative;
  flex: 1;
  border-left: 1px solid #ffffff;
  overflow: hidden;

  &:nth-child(1) {
    border-left: none;
  }

  .bg {
    padding: 90px 0;
    @include bg-blur(2px);
  }

  .blur-content {
    writing-mode: vertical-lr;
    background-color: $primary-green;
    font-size: 20px;
    font-weight: lighter;
    color: #ffffff;
    opacity: 0.8;
    @extend %center;

    &:hover {
      background-color: $primary-yellow;
      color: $primary-green;
      font-weight: bold;
    }

  }

  &:nth-child(1) .bg {
    @include bg-img('../../assets/image/brooke-lark.jpg');
  }

  &:nth-child(2) .bg {
    @include bg-img('../../assets/image/whitney-wright.jpg');
  }

  &:nth-child(3) .bg {
    @include bg-img('../../assets/image/food-photographer.jpg');
  }

}

.infro-box {
  display: flex;
  flex-direction: column;

  .title {
    padding: 20px 0;
    color: $primary-green;
    font-size: 24px;
    text-align: center;

    p {
      margin-bottom: 0.5rem;
      letter-spacing: 6px;
    }

  }

  .img {
    padding: 125px 0;
  }

  .text {
    padding: 30px;
    background-color: $lighter-green;

    p {
      color: $light-green;
      font-size: 16px;
      line-height: 30px;

      &:last-child {
        margin: 0;
      }

    }

  }

  &.session-1 {

    .img {
      @include bg-img('../../assets/image/le-buzz.jpg');
    }

  }

  &.session-2 {

    .img {
      @include bg-img('../../assets/image/monika-grabkowska.jpg');
    }

  }

}

.product-box {

  .title {
    padding: 20px 0;
    color: $primary-green;
    font-size: 24px;
    text-align: center;

    p {
      margin-bottom: 0.5rem;
      letter-spacing: 6px;
    }

  }

  .products {
    padding: 0 30px;
    margin-bottom: 30px;
  }

  .product-card {
    position: relative;

    .img {
      padding-top: 100%;
    }

    .text {
      position: absolute;
      top: 0;
      left: 15px;
      padding: 10px 7px;
      color: #ffffff;
      font-size: 16px;
      background-color: $primary-green;
      writing-mode: vertical-rl;
      letter-spacing: 6px;
      text-align: center;
    }

    .icon {
      position: absolute;
      display: inline-block;
      top: 15px;
      right: 20px;
    }

    .information {
      display: flex;
      border-left: 1px solid $lighter-green;
      border-right: 1px solid $lighter-green;
      font-size: 20px;

      span {
        flex: 1;
        padding: 15px 10px;
        text-align: center;
        color: $primary-green;
      }

      span:nth-child(1) {
        border-right: 1px solid $lighter-green;
        color: $primary-green;
        font-weight: lighter;
      }

      span:nth-child(2) {
        font-weight: bold;
      }

    }

    button {
      display: block;
      width: 100%;
      border: 1px solid $lighter-green;
      padding: 15px 20px;
      background-color: $lighter-green;
      font-size: 24px;
      color: $primary-green;
      font-weight: bold;
      text-align: center;
    }

    &:nth-child(1) .img {
      @include bg-img('../../assets/image/heather-schwartz.jpg');
    }

    &:nth-child(2) .img {
      @include bg-img('../../assets/image/food-cake.jpg');
    }

    &:nth-child(3) .img {
      @include bg-img('../../assets/image/rezel-apacionado.jpg');
    }

    &:nth-child(2),
    &:nth-child(3) {
      display: none;
    }

  }

}

footer {

  .dark-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: $primary-green;

    .icon {
      margin-right: 20px;
      width: 40px;
      height: 40px;
    }

    .text {
      display: flex;
      padding: 10px 0 30px;
      color: #ffffff;
      font-size: 24px;
    }

  }

  .mail-box {
    display:flex;
    align-items: center;
    width: 100%;
    background-color: $lighter-green;

    .icon {
      margin: 0;
      padding: 15px;
      width: auto;
      height: auto;
    }

    input {
      flex: 1;
      padding: 0 10px;
      border: none;
      background-color: $lighter-green;
    }

    .arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: stretch;
      flex: 0 0 60px;
      background-color: $primary-yellow;

      img {
        width: 25px;
        height: 25px;
      }
    }

  }

  .light-area {
    padding: 30px;
    background-color: $lighter-green;

    & > div:first-child {

    }

    .logo {
      width: 170px;
    }

    .info {
      padding: 30px 0;

      p {
        margin-bottom: 0px;
        color: $primary-green;
      }

    }

    .slogan {
      display: none;
    }

    .social-media {
      margin-bottom: 20px;

      img {
        display: inline-block;
        width: 35px;

        &:first-child {
          margin-right: 10px;
        }

      }

    }

    .copy-right {
      color: $primary-green;
    }

  }

}

@media screen and (min-width: 1024px) {

  .outer-space {
    padding: 0 40px;

    &:first-child {
      margin-top: 100px;
    }

    &.lg-space {
      padding: 0 120px;
    }

  }

  .activity {
    transform: translateY(-50px);

    .bg {
      padding: 130px 0;
    }

  }

  .infro-box {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 40px;
    height: 420px;
    background-color: $lighter-green;

    .title {
      order: 3;
      padding: 0;
      writing-mode: vertical-rl;

      p {
        margin: 0;
        font-size: 34px;
        text-align: left;
      }

    }

    .img {
      margin-left: 25px;
      padding: 0 230px;
      transform: scale(1.1);
    }

    .text {
      padding: 50px 10px;
      writing-mode: vertical-rl;

      p {
        margin: 0 20px;
        line-height: 40px;
      }

    }

    &.session-2 {
      margin-top: 100px;

      .img {
        order: 3;
        margin-left: 0;
        margin-right: 25px;
      }

    }

  }

  .product-box {
    display: flex;
    flex-direction: column;

    .title {
      align-self: center;
      margin: 140px 0 100px;
      padding: 0;
      font-size: 34px;
      text-align: left;
      writing-mode: vertical-rl;

      .horizontal-line {
        transform: translateY(-25px);
      }

    }

    .products {
      display: flex;
      padding: 0 40px;
    }

    .product-card {
      flex: 1;
      margin-right: 20px;

      &:nth-child(2),
      &:nth-child(3) {
        display: block;
      }

      &:nth-child(3) {
        margin-right: 0;
      }

    }

  }

  footer {

    .dark-area {
      flex-direction: row;
      justify-content: space-around ;

      .text {
        flex: 0 0 auto;
        padding: 0;
      }

      .mail-box {
        width: 380px;
      }

    }

    .light-area {
      padding: 65px 100px 15px;

      & > div {
        display: flex;
        justify-content: space-between;
      }

      & > div:nth-child(2) {
        align-items: center;
      }

      .slogan {
        display: block;
        writing-mode: vertical-rl;

        .horizontal-line:after {
          letter-spacing: -3px;
        }

        p {
          color: $primary-green;
          font-size: 24px;
          letter-spacing: 10px;
        }

        p:first-child {
          margin-right: 0;
        }

      }

      .contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

    }

  }

}
