$primary-green: #3F5D45;
$primary-yellow: #FFE180;
$light-green: #8DA291;
$lighter-green: #EAF0ED;

%center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin bg-img($url) {
  background-image: url($url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin bg-blur($range) {
  -webkit-filter: blur($range);
  -moz-filter: blur($range);
  -o-filter: blur($range);
  -ms-filter: blur($range);
  filter: blur($range);
}

.banner {
  @include bg-img('../../assets/image/annie-spratt-unsplash.jpg');
  flex: 1;
  padding: 140px 0;
}

.outer-space {
  display: flex;

  &:first-child {
    margin-top: 65px;
  }

}

.activity {
  position: relative;
  flex: 1;

  .bg {
    padding: 90px 0;
    @include bg-blur(2px);
  }

  .blur-content {
    writing-mode: vertical-lr;
    background-color: $primary-green;
    font-size: 20px;
    font-weight: lighter;
    color: #ffffff;
    opacity: 0.8;
    @extend %center;

    &:hover {
      background-color: $primary-yellow;
      color: $primary-green;
      font-weight: bold;
    }

  }

  &:nth-child(1) .bg {
    @include bg-img('../../assets/image/brooke-lark.jpg');
  }

  &:nth-child(2) .bg {
    @include bg-img('../../assets/image/whitney-wright.jpg');
  }

  &:nth-child(3) .bg {
    @include bg-img('../../assets/image/food-photographer.jpg');
  }

}

.infro-box {
  display: flex;
  flex-direction: column;

  .title {
    padding: 20px 0;
    color: $primary-green;
    font-size: 24px;
    text-align: center;

    p {
      margin-bottom: 0.5rem;
      letter-spacing: 6px;
    }

    .horizontal-line:after {
      content: '-------';
      letter-spacing: -3px;
    }

  }

  .img {
    padding: 125px 0;
  }

  .text {
    padding: 30px;
    background-color: $lighter-green;

    p {
      color: $light-green;
      font-size: 16px;
      line-height: 30px;

      &:last-child {
        margin: 0;
      }

    }

  }

  &.session-1 {

    .img {
      @include bg-img('../../assets/image/le-buzz.jpg');
    }

  }

  &.session-2 {

    .img {
      @include bg-img('../../assets/image/monika-grabkowska.jpg');
    }

  }

}

@media screen and (min-width: 1024px) {

  .outer-space {
    padding: 0 40px;

    &:first-child {
      margin-top: 100px;
    }

    &.lg-space {
      padding: 0 120px;
    }

  }

  .activity {
    transform: translateY(-50px);

    .bg {
      padding: 130px 0;
    }

  }

  .infro-box {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 40px;
    height: 420px;
    background-color: $lighter-green;

    .title {
      order: 3;
      padding: 0;
      writing-mode: vertical-rl;

      p {
        margin: 0;
        font-size: 34px;
        text-align: left;
      }

      .horizontal-line {
        display: block;
        transform: translateY(-20px);

        &:after {
          letter-spacing: -6px;
        }

      }

    }

    .img {
      padding: 0 230px;
      transform: scaleY(1.1);
    }

    .text {
      padding: 50px 10px;
      writing-mode: vertical-rl;

      p {
        margin: 0 20px;
        line-height: 40px;
      }

    }

    &.session-2 {
      margin-top: 100px;

      .img {
        order: 3;
      }

    }

  }

}
